<h3><span *ngIf="isNew">Create </span>Customer</h3>
<hr>
<div class="container">
  <form #detailCustomerForm="ngForm" (ngSubmit)="saveCustomer()" autocomplete="off" novalidate>
    <div class="row">
      <div class="form-group col-md-2">
        <label for="customerDetailPartyKey">Entidade</label>
        <input [(ngModel)]="customerDetail.partyKey" [disabled]="!isNew" name="partyKey" id="partyKey" type="text" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="customerDetailName">Nome</label>
        <input [(ngModel)]="customerDetail.name" [disabled]="!isNew" name="name" id="name" type="text" class="form-control" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6" >
        <label for="customerDetailEmail">Email</label>
        <input [(ngModel)]="customerDetail.electronicMail" [disabled]="!isNew" name="electronicMail" id="electronicMail" type="text" class="form-control"  />
      </div>
      <div class="form-group col-md-2">
        <label for="customerDetailTelephone">Telefone</label>
        <input [(ngModel)]="customerDetail.telephone" [disabled]="!isNew" name="telephone" id="telephone" type="text" class="form-control" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="customerDetailStreetName">Rua</label>
        <input [(ngModel)]="customerDetail.streetName" [disabled]="!isNew" name="streetName"  id="streetName" type="text" class="form-control"  />
      </div>
      <div class="form-group col-md-2">
        <label for="customerDetailBuildingNumber">Porta</label>
        <input [(ngModel)]="customerDetail.buildingNumber" [disabled]="!isNew" name="buildingNumber" id="buildingNumber" type="text" class="form-control" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-2">
        <label for="customerDetailCityName">Cidade</label>
        <input [(ngModel)]="customerDetail.cityName" [disabled]="!isNew" name="cityName"  id="cityName" type="text" class="form-control" />
      </div>
      <div class="form-group col-md-2">
        <label for="customerDetailPostalZone">Codigo Postal</label>
        <input [(ngModel)]="customerDetail.postalZone" [disabled]="!isNew" name="postalZone"  id="postalZone" type="text" class="form-control" />
      </div>
    </div>
    <div class="btnGroup">
      <button type="submit" *ngIf="isNew" [disabled]="detailCustomerForm.invalid" class="btn btn-primary btn-lg">Create</button>

      <button type="button" class="btn btn btn-secondary my-2 my-sm-0" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
